body{
	margin: 0px;
	text-align: center;
	background-image: url(bk.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height:auto;
}

.teaser-title{
	color: white;
	margin: 200px 500px 200px 500px;
	font-size: 2em;
	font-family: 'Comfortaa', cursive;
	text-align: center;	
}

.btn-primary{
	background-image: linear-gradient(to right, #6253e1, #852D91);
	color: white;
	border-color: black;
	border-width: 2px;
	margin-top: 250px;
	border-radius: 25px;
	transition: 0.5s;
}

.btn-primary:hover {
	background-image: linear-gradient(to right, #852D91,#6253e1);
	color: white;
	border-color: white;
	border-width: 2px;
	transform: scale(1.2);
}
